{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6 mx-auto">
    <h1>Login</h1>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="form-group">
        <label>Username:</label>
        <input type="text" name="username" placeholder="Username" class="form-control">
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" name="password" placeholder="Password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    Belum mempunyai akun? <a href="{% url 'study_tracker:register' %}">Buat Akun</a>
  </div>
</div>
{% endblock content %}
