{% extends 'base.html' %} {% block content %}
<h5>Nama:</h5>
<p>{{name}}</p>

<p>Hai {{ name }}, kamu memiliki {{ total_assignment }} tugas yang harus dikerjakan!</p>

<a href="{% url 'study_tracker:create_assignment' %}">
	<button>
		Jadwal Baru
	</button>
</a>

<table>
  <tr>
    <th>Nama Tugas</th>
    <th>Mata Kuliah</th>
    <th>Perkambangan</th>
    <th>Tanggal</th>
    <th>Deskripsi</th>
  </tr>
  {% for assignment in list_of_assignment %}
  <tr>
    <td>{{assignment.name}}</td>
    <td>{{assignment.subject}}</td>
    <td>{{assignment.progress}}</td>
    <td>{{assignment.date}}</td>
    <td>{{assignment.description}}</td>
  </tr>
  {% endfor %}
</table>

  <br>

<a href="{% url 'study_tracker:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}
